@model IEnumerable<MySchoolProj.Models.ApplicationUser>

@{
    ViewBag.Title = "All members";
}

<h2>All members</h2>

<p>
    @Html.ActionLink("Add new member", "Register", "Account")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
           Last Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (item.Email != "waedbkh@gmail.com")
                {
                @Html.ActionLink("| Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
